<h1>Bienvenidos al CRUD de usuarios creado por: <%= link_to "Tomas Alvez", "https://www.linkedin.com/in/tomás-alvez-sapin-48358a191/", target: "_blank" %></h1>
<h2>Github: <%= link_to "Tom Github", "https://github.com/tommmpy", target: "_blank" %></h2>
<h2>Instagram: <%= link_to "Tom Instagram", "https://www.instagram.com/tomm.py/?hl=es-la", target: "_blank" %></h2>
<%= button_to "Ver todos los usuarios", users_path, method: :get %>
